<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Joyce Ovalle</h1>
        
      <p class="header">PhD Candidate</p>
      <p class="header">The University of Texas at Austin</p> 

       <div class="buttons">
          <div class="firstbutton">
            <ul>
                <li ><a class="buttons" href="" target="_blank">CV</a></li>
            </ul>
          </div>
          <!-- <ul>
                <li ><a class="buttons" href="" target="_blank">JMP</a></li>
          </ul> -->
      </div>
      </header>

        {% if site.github.is_project_page %}
          <p class="header">This project is maintained by <a class="header name" href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <ul>
            <li><a class="buttons github" href="{{ site.github.owner_url }}">GitHub Profile</a></li>
          </ul>
        {% endif %}
      </header>

      <section>
        <div class="bio">
  <div class="profile">
    <img src="./assets/images/profile_2.jpg" width="235" height="275" style="margin:0; padding:0;" />
  </div>
  <p>I am a PhD Candidate at UT Austin’s LBJ School of Public Affairs. My research focuses on the role of funders (government, philanthropic, and private) in shaping public policies. My dissertation specifically examines funding disparities among environmental nonprofits. Prior to pursuing my doctoral studies, I managed and conducted research projects at the Urban Institute's Center on Nonprofits and Philanthropy in Washington, D.C. Before joining Urban, I held research positions at Texas A&M University and served in the public sector with the U.S. Department of Energy. I am a proud first-generation alumnus of Texas Public Schools, including Sam Houston State University and Texas A&M University, where I received my BA in Political Science and MPA, respectively.<br /><br />
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
